@model List<Site_Blog_Category>
<script language="javascript">
    jQuery(document).ready(function () {
        $("a.blogcat_delete").click(function () {
            var $this = $(this);
            var NameItem = $this.attr("item_name");
            var item_id = $this.attr("item_id");
            if (confirm("Are you sure to delete " + NameItem + "?")) {
                show_loading();
                $.get("@Url.Action("Detail_BlogCategory_Delete")?id=" + item_id, function () {
                    BlogCategory_Reload();
                });
            }
        });

        $("a.blogcat_edit").click(function () {
            var $this = $(this);
            var item_id = $this.attr("item_id");
            var status = $this.attr("status");
            var tr=jQuery(this).parents("tr");

            // set data before show dialog
            jQuery("#BlogCategory_Dialog #NCD_Id").val(item_id);
            jQuery("#BlogCategory_Dialog #NCD_Name").val(jQuery.trim(tr.children("td:eq(0)").children("span").text()));
            if (status.toLowerCase() == "true")
            {
                jQuery("#BlogCategory_Dialog #NCD_Status").attr("checked", true);
            }
            else{
                jQuery("#BlogCategory_Dialog #NCD_Status").attr("checked", false);
            }

            $("#BlogCategory_Dialog").dialog('option', 'title', 'Edit Blog');

            $("#BlogCategory_Dialog").dialog('open');
        });

        // build table layout
        if ($.fn.dataTable) {
            $("#WDBlogCategory").dataTable({
                sPaginationType: "full_numbers",
                "aLengthMenu": [30, 50, 100]
            });
        }
    });
</script>
<table class="mws-table" id="WDBlogCategory">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Seo name
            </th>
            <th>
                Status
            </th>
            <th>
                Created By
            </th>
            <th id="date_Create_column">
                Created On
            </th>
            <th width="100px">
                Actions
            </th>
        </tr>
    </thead>
    @if (Model.Count() > 0)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span><a href="@Url.Action("Index", "WebsiteBlog", new { cat_id = item.Id })" class="black_color" target="_parent">
                            @item.Name
                        </a></span>
                    </td>
                    <td>
                        <span>@item.SeoName</span>
                    </td>
                    <td style="text-align:center;">
                        <span>
                            <input type="checkbox" disabled="disabled"  @if (item.IsActive) { <text> checked="checked"</text> } />
                        </span>
                    </td>
                    <td>
                        <span>@item.CreatedByUsername</span>
                    </td>
                    <td style="text-align:center;">
                        <span>@string.Format("{0:MM/dd/yyyy HH:mm:ss}", item.CreatedOn) </span>
                    </td>
                    <td>
                        <span class="btn-group">
                            <a href="javascript:void(0)" item_id="@item.Id" status="@item.IsActive" class="btn btn-small blogcat_edit" title="Edit @item.Name">
                                <i class="icon-pencil"></i></a>
                            <a href="javascript:void(0)" class="btn btn-small blogcat_delete" item_id="@item.Id" item_name="@item.Name" title="Delete @item.Name" >
                                <i class="icon-trash"></i>
                            </a>
                            <a href="@Url.Action("Index", "WebsiteBlog", new { cat_id = item.Id })" class="btn btn-small " title="Manage blog for @item.Name" target="_parent">
                                <i class="icon-newspaper"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>