@model Site_Blog_Category
@{    
    ViewBag.Title = "Posts Management - " + Model.Name;
}
<link rel="stylesheet" type="text/css" href="@Url.ContentArea("~/Content/admin_template/plugins/datatables/colvis.css")">
<script src="@Url.ContentArea("~/Content/admin_template/plugins/datatables/ColVis.js")"></script>
<div class="head">
    <h3>@ViewBag.Title</h3>
    <div>
        <a href="@Url.Action("Detail", "Website", new { id = Model.SiteId })" class="btn">
            <i class="icol-arrow-left"></i>@CurrentWebsite.Name Detail
        </a>
        <a href="@Url.Action("Category", "WebsiteBlog", new { id = Model.SiteId })" class="btn">
            <i class="icol-arrow-left"></i>Blogs Management
        </a>
        <a href="@Url.Action("Add", new { cat_id = Model.Id })" class="btn btn-primary">
            <i class="icol-add"></i>Add Post
        </a>
    </div>
</div>
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span><i class="icon-table"></i>@ViewBag.Title</span>
    </div>
    <div class="mws-panel-body no-padding listuser">
        @Html.Action("List", new { cat_id = Model.Id })
    </div>
</div>