@model Website
@{
    List<Language> Langs = Db.Where<Language>(m => m.Status);            
    
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span><i class="icon-table"></i>Manage Languages for website @Model.Name</span>
    </div>
    <div class="mws-panel-toolbar">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="javascript:void(0)" id="add_language" class="btn"><i class="icol-add"></i>Add</a>
            </div>
        </div>
    </div>
    <div class="mws-panel-body no-padding WDTB_Language">
        @Html.Action("Detail_Language_List", new { id = Model.Id })
    </div>
</div>
@* For the dialog *@
<div class="dialog mws-panel-body" id="Language_Dialog" style="display: none;" title="Add language">
    @using (Html.BeginForm("Detail_Language_Add", "Website", FormMethod.Post, new { @id = "Language_Form", enctype = "multipart/form-data", @class = "mws-form" }))
    {                            
        <input type="hidden" name="Id" value="0" id="LD_Id" />
        <input type="hidden" name="SiteId" value="@Model.Id" id="LD_SiteId" />
        <div class="mws-form-inline">
            <div class="mws-form-row">
                <label class="mws-form-label">
                    Language</label>
                <div class="mws-form-item">
                    <select class="large" name="LanguageId" id="LD_LangId">
                        @foreach (var x in Langs)
                        {
                            <option value="@x.Id">@x.LanguageName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="mws-form-row large">
                <label class="mws-form-label">
                    Status</label>
                <div class="mws-form-item">
                    <input type="checkbox" name="Status" id="LD_Status" value="true" />
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function Language_Reload() {
        show_loading();
         $.get("@Url.Action("Detail_Language_List", new {id=Model.Id})", function (data) {
                        $(".WDTB_Language").html("");
                        $(".WDTB_Language").html(data);
                        hide_loading();
                    });
    }
    $(document).ready(function () {
        jQuery("#Language_Form").submit(function () {
            return false; // force no submit
        });

        $("#Language_Dialog").dialog({
            autoOpen: false,
            modal: true,
            width: 400,
            buttons: {
                "Ok": function () {
                    // ajax submit
                    show_loading();

                    // and post
                    jQuery.post(jQuery("#Language_Form").attr("action"), jQuery("#Language_Form").serialize(), function (returnObj) {
                        if (returnObj.Status == "success") {
                            if (returnObj.Message != null) {
                                notify_success("Success", returnObj.Message);
                                // incase success, we need to reload the form
                                Language_Reload();
                            }
                            else if (returnObj.RedirectUrl != null) {
                                window.location.href = returnObj.RedirectUrl;
                            }
                        } else {
                            $.pnotify({
                                title: 'Error',
                                text: returnObj.Message,
                                type: 'error',
                                opacity: .8
                            });
                        }

                        hide_loading();
                    });

                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#add_language").click(function () {

            // reset old form content
            jQuery("#LD_Id").val("");
            jQuery("#LD_LangId").val(0);
            jQuery("#LD_Status").attr("checked", "checked");

            $("#Language_Dialog").dialog('option', 'title', 'Add language');

            $("#Language_Dialog").dialog('open')
        });
    })

</script>
