@model DoiTuong

<div class="head hide">
    <div class="mws-panel-toolbar">
        <div class="btn-toolbar">
            <div class="btn-group"></div>
        </div>
    </div>
</div>
<div class="mws-panel grid_4 bien-dong-primary">
    <div class="mws-accordion" heightStyle="auto">
        <h3><a href="#">Cắt chết</a></h3>
        <div>@Html.Partial("_BienDong_CatChet", Model)</div>
        <h3><a href="#">Dừng trợ cấp</a></h3>
        <div>@Html.Partial("_BienDong_DungTroCap", Model)</div>
        <h3><a href="#">Chuyển địa bàn</a></h3>
        <div>@Html.Partial("_BienDong_ChuyenDiaBan", Model)</div>
        <h3><a href="#">Thay đổi loại đối tượng</a></h3>
        <div>@Html.Partial("_BienDong_ThayDoiLoaiDoiTuong", Model)</div>
    </div>
</div>
<div class="mws-panel grid_4 bien-dong-common">
    <div class="mws-panel-header">
        <span><i class="icon-list"></i>Thông tin chung</span>
    </div>
    <div class="mws-panel-body no-padding">
        @Html.Partial("_BienDong_InfoCommon", Model)
    </div>
</div>
<div class="clear"></div>
<script>
    $.fn.select2 && $("#dialog-bien-dong select.mws-select2").select2();
    $.fn.accordion && $("#dialog-bien-dong .mws-accordion").accordion();
    $("#dialog-bien-dong .ui-accordion-content").css("height", "auto");
    $("#dialog-bien-dong #popup-maldt-children").dialog({
        modal: true,
        autoOpen: false,
        closeOnEscape: true,
        width: 800,
        buttons: {
            "Lưu lại": function () {
                $(this).find("form").trigger("submit");
            },
            "Hủy bỏ": function () {
                $(this).dialog("close");
            }
        }
    });
</script>
