@model ABUserAuth
@{
    Layout = "~/Themes/Photobookmart/Views/Shared/_Layout.Navigation.Sidebar.cshtml";

    ViewBag.Title = "New Password";
}
@section _TitleMain {
    <a href='@Url.Action("GetNewPassword", "Home", new { })' rel='new-password' title='Permanent Link: New Password'>New Password</a>
}
@section _TrailLink {
    <a href="/" rel="/" title="Home" class="trail-begin">Home</a> <span class="sep">&raquo;</span>
    <span class="trail-end">New Password</span>
}
<form id="frmGetNewPassword" name="frmGetNewPassword" action="/Home/GetNewPasswordSubmit" method="post" enctype="multipart/form-data" class="ab-form ab-new-pass">
    <div class="ab-title display-none">
        <h2>New Password</h2>
    </div>
    @if (ViewBag.Error != null)
    {
        <div class="ab-error">
            @ViewBag.Error
        </div>
    }
    <div>
        <span>New Password<span class="ab-required">*</span></span>
        @Html.PasswordFor(m => m.PassNews, new { @class="ab-textbox" })
    </div>
    <div>
        <span>Confirm Password<span class="ab-required">*</span></span>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class="ab-textbox" })
    </div>
    <div>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Email)
    </div>
    <div class="ab-action align-right">
        <button type="submit" class="ab-submit">Submit</button>
        <button type="reset" class="ab-reset">Reset</button>
    </div>
</form>

<script>
    jQuery(document).ready(function ($) {

        if ($("#frmGetNewPassword").length != 0) {

            $("#frmGetNewPassword").on("submit", function (e) {

                if ($(this).find("input[name='PassNews']").val() == "" ||
                    $(this).find("input[name='ConfirmPassword']").val() == "") {

                    alert("Please enter all required fields.");

                    return false;
                }

                if ($(this).find("input[name='PassNews']").val() !=
                    $(this).find("input[name='ConfirmPassword']").val()) {

                    alert("Please enter same New password and Confirm password fields.");

                    return false;
                }

                if (!/^(?:([A-Z])*([a-z])*(\d)*){8,}$/.test($(this).find("input[name='PassNews']").val())) {

                    alert("Password must contain at least 8 characters, including uppercase/lowercase and numbers.");

                    return false;
                }
            });
        }
    });
</script>