@model Website
@{
    ViewBag.Title = "Manage Social Accounts for " + Model.Name;
}
<div class="head">
    <h3>
        @ViewBag.Title</h3>
    <div>
        <a type="button" class="btn" href="@Url.Action("Detail", "Website", new { id = Model.Id })" >
                <i class="icol-arrow-left"></i>@Model.Name Detail</a> <a type="button" class="btn btn-primary"
                   href="@Url.Action("Add")" id="nav_add_button">Add Account</a>
    </div>
</div>
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span><i class="icon-table"></i>@ViewBag.Title</span>
    </div>
    <div class="mws-panel-body no-padding listuser">
        @Html.Action("List")
    </div>
</div>
